html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: helvetica, arial, sans-serif;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	background: #EEE;
}

a {
	text-decoration: none;
	color: #4C8DC5;
}

h2 {
	font-size: 34px;
	font-weight: bold;
	text-transform: none;
	margin: 20px 0;
}
h3 {
	font-size: 30px;
	font-weight: normal;
	text-transform: none;
	margin: 20px 0;
}
h4 {
	font-size: 24px;
	font-weight: bold;
	color: #676767;
	text-transform: none;
	margin: 20px 0;
}
h5 {
	font-size: 20px;
	font-weight: bold;
	color: #676767;
	font-style: italic;
	text-transform: none;
	margin: 20px 0;
}

#header {
	position: relative;
	z-index: 100;
	height: 65px;
	background: #4C8DC5;
}

#header h1,
#header #site-name {
	display: block;
	position: absolute;
	z-index: 2;
	left: 20px;
	top: 0;
	margin: 0;
	padding: 0;
	font-family: georgia;
	font-style: italic;
	color: #FFF;
	font-size: 48px;
	line-height: 65px;
	font-weight: normal;
}

#header h1 a,
#header #site-name a{
	color: #FFF;
}

#header #nav {
	position: relative;
	padding: 12px 0 0;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#header #nav #nav-menu {
	display: none;
}

#header #nav ul {
	display: inline;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	cursor: default;
}

#header #nav ul li {
	display: inline-block;
	padding: 10px 1.5% 0;
	margin: 0;
	height: 43px;
}

#header #nav ul li.search {
	display: none;
}

#header #nav ul li a {
	display: inline-block;
	color: #FFF;
	border-bottom: 2px solid transparent;
	transition: border-color .2s;
}

#header #nav ul li a:hover {
	border-color: #4ADE97;
}

#header #nav ul li.current-menu-item,
#header #nav ul li.current-menu-ancestor,
#header #nav ul li.current-page-ancestor,
#header #nav ul li.current-post-ancestor {
	background: #FFF;
	border-radius: 5px 5px 0 0;
}

#header #nav ul li.current-menu-item a,
#header #nav ul li.current-menu-ancestor a,
#header #nav ul li.current-page-ancestor a,
#header #nav ul li.current-post-ancestor a {
	color: #4C8DC5;
}

#header #nav ul li.current-menu-item a:hover,
#header #nav ul li.current-menu-ancestor a:hover,
#header #nav ul li.current-page-ancestor a:hover,
#header #nav ul li.current-post-ancestor a:hover {
	border-color: transparent;
}

#header-extras {
	position: absolute;
	z-index: 2;
	right: 20px;
	top: 18px;
}

#header #search-button {
	display: block;
	float: left;
	height: 29px;
	width: 29px;
	margin-right: 13px;
	background: url(../images/search.svg) center center no-repeat;	
}

#header #search-button span {
	display: none;
}

#header #donate-button {
	display: block;
	float: right;
	height: 29px;
	padding: 0 18px;
	color: #4C8DC5;
	font-size: 14px;
	line-height: 29px;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 3px;
	background: #FFF;
	transition: background .2s, color .2s;
}

#header #donate-button:hover {
	background: #52DD99;
	color: #000;
}

#header #nav ul.sub-menu {
	display: none;
	position: absolute;
	top: 65px;
	left: 0;
	width: 100%;
	z-index: 100px;
	list-style: none;
	margin: 0 auto;
	cursor: default;
	height: 44px;
	padding: 22px 0 0;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	background: #FFF;
}

#header #nav ul li.current-menu-item ul.sub-menu,
#header #nav ul li.current-menu-ancestor ul.sub-menu,
#header #nav ul li.current-page-ancestor ul.sub-menu,
#header #nav ul li.current-post-ancestor ul.sub-menu {
	display: block;	
}

#header #nav ul.sub-menu li {
	display: inline-block;
	margin: 0 1.5%;
	padding: 0;
}

#header #nav ul.sub-menu li a {
	display: inline-block;
	color: #4C8DC5;
	border-bottom: 2px solid transparent;
	transition: border-color .2s;
}

#header #nav ul.sub-menu li a:hover,
#header #nav ul.sub-menu li.current-page-ancestor a,
#header #nav ul.sub-menu li.current-post-ancestor a {
	border-color: #4ADE97;
}

#header #nav ul.sub-menu li.current-menu-item a:hover,
#header #nav ul.sub-menu li.current-page-ancestor a:hover,
#header #nav ul.sub-menu li.current-post-ancestor a:hover {
	color: #4C8DC5;
}

#header #nav ul.sub-menu li.current-page-ancestor:first-child a,
#header #nav ul.sub-menu li.current-post-ancestor:first-child a {
	border-color: transparent;
}

#header #nav ul.sub-menu li.current-menu-item a,
#header #nav ul.sub-menu li.current-page-ancestor:first-child a:hover,
#header #nav ul.sub-menu li.current-post-ancestor:first-child a:hover {
	border-color: #4ADE97;
}


#content {
	position: relative;
	padding-top: 65px;
}

#content .alignleft {
	display: block;	
	float: left;
	width: 45% !important;
	height: auto !important;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
	margin: 10px 30px 10px 0;	
}

#content .alignleft img {
	display: block;
	width: 100% !important;
	height: auto !important;
}

#content .alignright {
	display: block;	
	float: right;
	width: 45% !important;
	height: auto !important;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
	margin: 10px 0 10px 30px;	
}

#content .alignright img {
	display: block;
	width: 100% !important;
	height: auto !important;
}

#content .alignnone {
	display: block;
	width: 100% !important;
	height: auto !important;
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
	margin: 30px 0;
}

#content .alignnone img {
	display: block;
	width: 100% !important;
	height: auto !important;
}

#content .wp-caption-text {
	font-size: 12px;
	font-family: helvetica, sans-serif;
	color: #676767;
	line-height: 18px;
	padding-top: 5px;
}

#share-button {
	display: block;
	width: 26px;
	height: 26px;
	background: url(../images/share-dark.svg) no-repeat;
	opacity: .5;
	transition: opacity .2s;
}

#share-button span {
	display: none;
}

#share-button:hover {
	opacity: 1;	
}

.share-container {
	position: absolute;
	z-index: 999;	
}

.share-container .menu {
	position: absolute;
	background: #FFF;
	width: 26px;
	padding: 5px 10px;
	border-radius: 23px;
	margin-top: 10px;
	margin-left: -10px;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.share-container .menu a {
	display: block;
	width: 26px;
	height: 26px;
	margin: 10px 0;
}

.share-container .menu a:hover {
	opacity: .7;
}

.share-menu-email {
	background: url(../images/social-email.svg) center center no-repeat;
	background-size: contain;
}

.share-menu-facebook {
	background: url(../images/social-facebook.svg) center center no-repeat;
	background-size: contain;
}

.share-menu-twitter {
	background: url(../images/social-twitter.svg) center center no-repeat;
	background-size: contain;
}

.share-menu-linkedin {
	background: url(../images/social-linkedin.svg) center center no-repeat;
	background-size: contain;
}


#page {
	position: relative;
	margin: auto;
	max-width: 1300px;
	padding: 30px 75px 70px;
	text-align: left;
	background: #EEE;	
}

#page h1.page-title,
h1.page-title,
#page #site-section {
	margin: 30px 50px 50px;
	font-size: 56px;
	line-height: 58px;
	font-family: georgia, serif;
	font-weight: normal;
	cursor: default;
	text-align: center;
}

#page-share {
	position: absolute;
	top: 80px;
	right: 75px;
}

a.button {
	display: inline-block;
	padding: 18px 45px;
	border-radius: 5px;
	background: #4C8DC5;
	color: #FFF;
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
	font-family: helvetica, arial, sans-serif;
	text-transform: uppercase;
	transition: background .2s, color .2s;
}

a.button:hover {
	background: #52DD99;
	color: #FFF;
	text-decoration: none !important;
}

.progress {
	position: relative;
	margin: 20px 0;
	height: 40px;
	border: 1px solid #D2D2D2;
	background: #EEEEEE;
	border-radius: 5px;
	overflow: hidden;
	cursor: default;
}

.progress span {
	display: block;
	position: absolute;
	z-index: 2;
	height: 100%;
	background: #4ADE97;
}

.progress strong {
	display: block;
	position: absolute;
	z-index: 3;
	margin-left: 15px;
	line-height: 40px;
}

.special {
	margin: 30px 0;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	color: #52DD99;	
}

.pagination {
	clear: both;
	text-align: center;
	margin: 40px 0;	
}

.pagination .button {
	min-width: 100px;
	margin: 0 10px;
}

.columns {
	box-sizing: border-box;
	width: 100%;
	padding: 3px;
	overflow: hidden;
}

.column-main {
	float: left;
	box-sizing: border-box;
	width: 70%;
	min-height: 500px;
	padding: 50px;
	background: #FFF;
	box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.column-main .article {
	margin: 0;
}

.column-side {
	box-sizing: border-box;
	width: 30%;
	padding-top: 40px;
	float: right;
}

.columns .button {
	margin: 20px 0;
}

.columns hr {
	height: 0;
	border: 0;
	border-bottom: 1px solid #D2D2D2;
}

iframe {
	margin: 20px 0;
}

blockquote {
	margin: 20px 0;
}

blockquote {
	margin: 50px 0;
	padding: 20px 50px;
	font-size: 24px;
	line-height: 36px;
	font-weight: 300;
	text-align: center;
	border-top: 1px solid #D2D2D2;
	border-bottom: 1px solid #D2D2D2;
	font-family: helvetica, arial, sans-serif;
}

.side-box {
	padding: 40px;
	background: #4F8EC3;
	color: #FFF;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 5%;
}

.side-box a {
	color: #FFF;
}

.side-nav {
	list-style: none;
	margin: 0;
	padding: 20px 0 0;
}

.side-nav li {
	margin: 0;
	padding: 0 0 25px;
}

.side-nav a {
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 2px solid transparent;
}

.side-nav li.current-menu-item a,
.side-nav li.current-cat a {
	border-color: #73E7B1;	
}

.button-list {
	box-sizing: border-box;
	padding: 40px 80px;
	margin-top: 40px;
	background: #FFF;
	box-shadow: 1px 1px 4px rgba(0,0,0,.3);
}

.button-list .item {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 40px 0;
	font-size: 16px;
	line-height: 22px;
	border-bottom: 1px solid #D2D2D2;
}

.button-list .item:last-child {
	border-bottom: 0;
}

.button-list .item .text {
	float: left;
	width: 65%;
}

.button-list .item .link {
	float: right;
	width: 25%;
	max-width: 200px;
	height: 100%;
	padding-top: 40px;
	text-align: right;
}

.button-list .item .link .button {
	width: 100%;
	line-height: 18px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.button-list .item .title {
	font-size: 28px;
	line-height: 34px;
	margin-bottom: 10px;
}

.button-list .item .title a {
	color: #000;
}

.button-list .item .detail {
	color: #919191;
	margin-bottom: 10px;
}

.button-list .item .summary {
	font-weight: 300;
}

table {
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
}

table>caption {
	display: none;

}

.accordion {
	margin: 20px 0;	
}

.accordion-title {
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
	padding-left: 25px;
	background: url(../images/toggle-right.svg) 0 7px no-repeat;
}

.accordion-title.open {
	background: url(../images/toggle-down.svg) 0 7px no-repeat;
}

.accordion-content {
	padding: 5px 25px 10px;	
}

img.aligncenter {
	width: 100%;
	height: auto;	
}


/* -- Footer -- */

#footer {
	position: relative;
	text-align: center;
}

#footer-links {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 65px;
	background: #222;
}

#footer-links li {
	display: inline-block;
	margin: 22px 2% 0;
	padding: 0;
	text-transform: uppercase;
	color: #FFF;
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
}

#footer-links a {
	color: #FFF;
	border-bottom: 2px solid transparent;
	transition: border-color .2s;
}

#footer-links a:hover {
	border-color: #4ADE97;
}

#footer-bottom {
	background: url(../images/footer-bg.jpg) center bottom no-repeat;
	background-size: cover;
}

#footer-title {
	height: 60px;
	padding: 50px 20px;
	cursor: default;
}

#footer-title .name {
	font-family: georgia, serif;
	font-size: 30px;
	line-height: 34px;
	font-style: italic;	
}

#footer-title .tagline {
	margin-top: 20px;
	font-weight: 300;
	font-size: 20px;
	line-height: 22px;
}

#footer-social {
	height: 34px;	
}

#footer-social a {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin: 0 6px;
	transition: opacity .2s;
}

#footer-social a:hover {
	opacity: .66;
}

#footer-social a span {
	display: none;
}

#footer-social .twitter {
	background: url(../images/social-twitter.svg) center center no-repeat;	
}

#footer-social .facebook {
	background: url(../images/social-facebook.svg) center center no-repeat;	
}

#footer-social .youtube {
	background: url(../images/social-youtube.svg) center center no-repeat;	
}

#footer-social .linkedin {
	background: url(../images/social-linkedin.svg) center center no-repeat;	
}

#footer-copyright {
	padding: 30px 20px 20px;	
	font-size: 12px;
	line-height: 16px;
	opacity: .5;
	cursor: default;
}

#footer-credit {
	text-align: center;	
	padding-bottom: 30px;
}

#footer-credit a {
	font-size: 10px;
	line-height: 16px;
	color: #FFF;
	text-transform: uppercase;
	opacity: .5;
}

#footer-credit a:hover {
	opacity: 1;
}